:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 9rem 1.5rem;
}

/*----------Start header----------*/

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #15293e;
  z-index: 50;
}

/* .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #15293e;
  z-index: 2;
} */

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3.3rem;
  font-weight: 800;
  color: #FFC700;
  letter-spacing: 5px;
  line-height: 4.8rem;
}

.header__menu {
  margin-left: auto;
  margin-right: 3.7rem;
}

.header__list {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  display: flex;
}

.header__list-item {
  margin-left: 2rem;
  list-style: none;
}

.header__link {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  padding: 3rem 1.5rem;
}

.btn {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  background-color: #FFC700;
  border-radius: 5px;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #FFC700;
  padding: 1.3rem 3rem;
  transition: 0.3s;
}

.btn-transparent:hover {
  color: #000;
  background-color: #FFC700;
}

.btn-help {
  position: relative;
  z-index: 2;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 2rem;
  transition: 0.3s;
}

/* Бургер */

.header__burger {
  display: none;
}

/*----------End header----------*/



/*----------Start секции recovery----------*/
.recovery {
  background-color: #15293e;
  padding-top: 12rem;
  padding-bottom: 9rem;
}

.hdd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1.5rem;
  margin-bottom: 6.3rem;
}

.hdd-item_info {
  width: calc(47% - 3rem);
  margin: 0 1.5rem 2rem;
}

.hdd-item__subtitle {
  margin-top: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: rgb(255, 255, 255);
}

.hdd-item__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 9.1rem;
  line-height: 9.1rem;
  font-weight: 800;
  color: #FFC700;
  margin: -0.5rem 0 2rem;
}

.hdd-item__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3.9rem;
  color: #fff;
  margin: 0 0 3.8rem;
}

.action {
  display: flex;
  flex-wrap: wrap;
}

.action-btn:nth-child(2) {
  margin-left: 3rem;
}

.hdd-item_img {
  width: calc(53% - 3rem);
  margin: 0 1.5rem 2rem;
}

.hdd-item__img {
  margin-top: 6.2rem;
  margin-left: 0;
  width: 99%;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.offer-item {
  width: calc(33.33% - 30px);
  margin: 0 15px 23px 0;
}

.offer__icon {
  width: 3.6rem;
  height: 3.6rem;
}

.offer__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  color: #fff;
  margin-top: 1.2rem;
}

/*----------End секции recovery----------*/


/*----------Start секции channel----------*/

.channel {
  position: relative;
  background-color: #091724;
  padding-bottom: 10rem;
}

.channel-container {
  position: relative;
  max-width: 870px;
}

.channel-info {
  max-width: 724px;
}

.channel-info__title {
  margin: 1px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 5.2rem;
  line-height: 5.2rem;
  font-weight: 800;
  color: #FFC700;
}

.channel-info__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3.9rem;
  color: #fff;
  margin: 0 0 3.8rem;
}

.channel-video {
  position: relative;
  margin-bottom: 39px;
}

.youtube-btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.channel-desc {
  max-width: 745px;
}

.channel-desc__risk {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: #FF0000;
  color: #ffffff;
  padding: 8px 16px;
  margin-bottom: 39px;
}

.channel-badge {
  position: absolute;
  top: 57px;
  left: 65.5%;
}





.channel-wrapper {
  position: relative;
  margin: 0 auto 3.5rem;
}


/*----------End секции channel----------*/


/*----------Start секции can----------*/



/*----------End секции can----------*/



/*----------Start Modal Windows----------*/

/* help-popup */



.fancybox-content {
  overflow: visible;
}



.popup-help {
  position: relative;

}

.popup-close {
  position: absolute;
  top: -24px;
  right: -31px;
  background-color: transparent;
  border: 0;
}

.fa-times {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/*----------End Modal Windows----------*/


/*----------Кнопка Наверх----------*/

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 75px;
  cursor: pointer;
  display: none;
  background: #15293e;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #FFC700;
  border-radius: 50%;
  z-index: 1000;
  transition: 0.3s;
}

#toTop:hover {
  background: #FFC700;
  color: #101F2E;
}

/*----------Адаптив----------*/

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 6rem;
  }

  .header__logo svg {
    width: 4rem;
  }

  .header__burger {
    position: absolute;
    right: 0;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }

  .header__burger-middle {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.3s;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.3s;
  }

  .header__burger.active .header__burger-middle {
    transform: scale(0);
    transition: 0.3s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #091724;
    padding: 6.2rem 1rem 2rem 1rem;
    transition: 0.5s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list-item {
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #15293e;

  }

  .header__link {
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .help {
    margin-right: 5.0rem;
  }

}